@model WebMvc.Models.Ticket

<form id="theForm" class="img_spacer2" asp-controller="Ticket" asp-action="OneTicketAtATime" method="post">

    <div class="ticket_info_row">
        <div>
            <p class="sub_row">
                <span class="zone_C">Type of Ticket</span>
                <span class="zone_B accent">@Model.TicketCategory.TicketCategoryName</span>
            </p>
            <p class="sub_row">
                <span class="zone_C">Price</span>
                <span class="zone_B accent">$@Model.Price</span>
            </p>
            <p class="sub_row">
                <span class="zone_C"> Sales end on</span>
                <span class="zone_B accent">@Model.SalesEndDate.ToString("MMM dd, yyyy")</span>
            </p>
            <p class="sub_row">
                <span class="zone_C"> Tickets Available</span>
                <span class="zone_B accent">@Model.Quantity</span>
            </p>
        </div>
        <div class="form-group">
            <label class="esh-event-label">
                <select class="quantity_dropdown" asp-for="@Model.QuantitySelected" asp-items="@Model.AvailableTicketsQuantity"
                        onchange="showCart(this.value, @Model.TicketId, @Model.Price, @Model.TicketCategoryId)" id="quantitydropdown"></select>
            </label>
        </div>
        <input type="hidden" asp-for="@Model.TicketCategoryId" name="TicketCategoryId" />
        <input type="hidden" asp-for="@Model.Price" name="Price" />
        <input type="hidden" asp-for="@Model.AvailableTicketsQuantity" name="AvailableTicketsQuantity" />
        <input type="hidden" asp-for="@Model.EventId" name="EventId" />
        <input type="hidden" asp-for="@Model.SalesEndDate" name="SalesEndDate" />
        <input type="hidden" asp-for="@Model.SalesStartDate" name="SalesStartDate" />
        <input type="hidden" asp-for="@Model.Quantity" name="Quantity" />
        <input type="hidden" asp-for="@Model.EventId" name="EventId" />
        <input type="hidden" asp-for="@Model.TicketId" name="TicketId" />
        <input type="hidden" asp-for="@Model.DateSelected" name="DateSelected" />
        <input type="hidden" asp-for="@Model.QuantitySelected" name="QuantitySelected" />
    </div>
</form>
