@{
    ViewData["Title"] = "Ticket details";

    @model WebMvc.ViewModels.TicketIndexViewModel

}

<div class="row banner_row">

    @if (@Model.Tickets.Any())
    {
        <div class="ticket_title_box col-md-7">

            <div class="event_name">
                <span>@Model.Tickets.First().Event.Title</span>
            </div>
            <div class="zone_1">
                <div>@Model.DateSelected.DayOfWeek<br /><span class="date_num">@Model.DateSelected.ToString("MMM")</span><br /><span class="date_num">@Model.DateSelected.Day</span></div>
            </div>

        </div>

        <div class="photo_box col-md-5">
            <img class="event_big_img" src="@Model.Tickets.First().Event.EventImageUrl" />
        </div>
    }
    else
    {
        <div class="event_name">
            <span>There are no available tickets.</span>
        </div>
    }

</div>

<form id="theForm" class="img_spacer2" asp-controller="Ticket" asp-action="OneTicketAtATime" method="post">

    @foreach (var item in Model.Tickets)
    {
        <partial name="_TicketInfo" model="item" />

    }
</form>

<form class="img_spacer2" asp-controller="Ticket" asp-action="OneTicketAtATime" method="post">
    <fieldset>
            <legend>Your Items</legend>
            <div>
                <label>Ticket Quantity</label><label>Ticket Id</label>
            </div>
           
            @foreach (var item in Model.Tickets)
            {
                <partial name="_information" model="item" />
            }

    </fieldset>
</form>

@section Scripts
{
    <script type="text/javascript">

        function showCart(qty, id, price, categoryId) {
            // window.location.href = "/Ticket/Index?Value=" + val;


            if (categoryId == 1) {
                var categoryName = "Student";
            }

            else if (categoryId == 2) {
                var categoryName = "General Admission";
            }

            else if (categoryId == 5) {
                var categoryName = "EarlyBird - Child";
            }

            else if (categoryId == 6) {
                var categoryName = "EarlyBird - Adult";
            }


            if (qty != 0) {
                var qtyText = document.getElementById('quantityFor' + id);
                qtyText.value = qty;
                qtyText.style.visibility = 'visible';

                var categoryText = document.getElementById('category' + id);
                categoryText.value = categoryName;
                categoryText.style.visibility = 'visible';

                var idText = document.getElementById('ticket' + id);
                idText.value = id;
                idText.style.visibility = 'visible';

                var qtyPrice = document.getElementById('price' + id);
                qtyPrice.value = price;
                qtyPrice.style.visibility = 'visible';

                var qtyTotalPrice = document.getElementById('totalPrice' + id);
                qtyTotalPrice.value = (qtyText.value) * (qtyPrice.value) ;
                qtyTotalPrice.style.visibility = 'visible';

                var confirmButton = document.getElementById('confirmButton' + id);
                confirmButton.style.visibility = 'visible';
            }
            else {
                var qtyText = document.getElementById('quantityFor' + id);
                qtyText.value = qty;
                qtyText.style.visibility = 'hidden';

                var categoryText = document.getElementById('category' + id);
                categoryText.value = categoryName;
                categoryText.style.visibility = 'hidden';

                var idText = document.getElementById('ticket' + id);
                idText.value = id;
                idText.style.visibility = 'hidden';

                var qtyPrice = document.getElementById('price' + id);
                qtyPrice.value = price;
                qtyPrice.style.visibility = 'hidden';

                var qtyTotalPrice = document.getElementById('totalPrice' + id);
                qtyTotalPrice.value = (qtyText.value) * (qtyPrice.value);
                qtyTotalPrice.style.visibility = 'hidden';

                var confirmButton = document.getElementById('confirmButton' + id);
                confirmButton.style.visibility = 'hidden';
            }

                      
            //document.getElementById('theForm').submit();

            
        }

    </script>
}


