@{
    ViewData["Title"] = "Ticket details";

    @model WebMvc.ViewModels.TicketIndexViewModel

}

<div class="row banner_row">

    @if (@Model.Tickets.Any())
    {
        <div class="ticket_title_box col-md-7">

            <div class="event_name">
                <span>@Model.Tickets.First().Event.Title</span>
            </div>
            <div class="zone_1">
                <div>@Model.DateSelected.DayOfWeek<br /><span class="date_num">@Model.DateSelected.ToString("MMM")</span><br /><span class="date_num">@Model.DateSelected.Day</span></div>
            </div>

        </div>

        <div class="photo_box col-md-5">
            <img class="event_big_img" src="@Model.Tickets.First().Event.EventImageUrl" />
        </div>
    }
    else
    {
        <div class="event_name">
            <span>There are no available tickets.</span>
        </div>
    }

</div>

<form class="img_spacer2" asp-controller="Ticket" asp-action="OneTicketAtATime" method="post">

    @foreach (var item in Model.Tickets)
    {
        <partial name="_TicketInfo" model="item" />


    }

    <partial name="_information" for="Ticket" />

</form>

@section Scripts
{
    <script type="text/javascript">

        function showCart(qty, string)
        {
            // window.location.href = "/Ticket/Index?Value=" + val;
            if (id == 27)
            {
                var input1 = document.getElementById('tickedId27');
                input1.value = string;

                var input2 = document.getElementById('quantityAdded27');
                input2.value = qty;
                
            }

            if (id == 28) {
                var input1 = document.getElementById('tickedId28');
                input1.value = id;

                var input2 = document.getElementById('quantityAdded28');
                input2.value = qty;
            }
            
        }

    </script>
}

