@{
    ViewData["Title"] = "Ticket details";

    @model WebMvc.ViewModels.TicketIndexViewModel

}

<div class="row banner_row">

    @if (@Model.Tickets.First().TicketId!=0)
    {
        <div class="ticket_title_box col-md-7">

            <div class="event_name">
                <span>@Model.Tickets.First().Event.Title</span>
            </div>
            <div class="zone_1">
                <div>@Model.DateSelected.DayOfWeek<br /><span class="date_num">@Model.DateSelected.ToString("MMM")</span><br /><span class="date_num">@Model.DateSelected.Day</span></div>
            </div>

        </div>

        <div class="photo_box col-md-5">
            <img class="event_big_img" src="@Model.Tickets.First().Event.EventImageUrl" />
        </div>
    }
    else
    {
        <div class="event_name">
            <span>@Model.Tickets.First().TicketStatus</span>
        </div>
    }

</div>


    <form class="img_spacer2" asp-controller="Ticket" asp-action="Test" method="post">

        @foreach (var item in Model.Tickets)
        {
            <partial name="_TicketInfo" model="item" />
        }
        
     @*   <partial name="_information" for="Ticket" />*@

    </form>


