@{ ViewData["Title"] = "Ticket details";

    @model WebMvc.ViewModels.TicketIndexViewModel
}

<div class="row banner_row">

    @if (@Model == null)
    {
        <div>
            <span>You have selected an invalid date.<br></span>
            <span>Please select a valid date in the previous page.</span>
        </div>
    }
    else
    {
        @if (@Model.Tickets.First().TicketId != 0)
        {
            <div class="ticket_title_box col-md-7">
                <div class="event_name">
                    <span>@Model.Tickets.First().Event.Title</span>
                </div>
                <div class="zone_1">
                    <div>
                        @Model.DateSelected.DayOfWeek<br /><span class="date_num">@Model.DateSelected.ToString("MMM")</span><br /><span class="date_num">@Model.DateSelected.Day</span>
                    </div>
                </div>

                <div class="photo_box col-md-5">
                    <img class="event_big_img" src="@Model.Tickets.First().Event.EventImageUrl" />
                </div>
            </div>
         }
         else
         {
            <div class="event_name">
                <span>@Model.Tickets.First().TicketStatus</span>
            </div>
         }
    }

</div>


@if (@Model != null)
    {
     @if (@Model.Tickets.First().TicketId != 0)
        {
        <form class="img_spacer2" asp-controller="Cart" asp-action="AddToCart" method="post">
        
            @for (int i = 0; i < Model.Tickets.Count(); i++)
                {
                    <p class="sub_row">
                        <span class="zone_C">Type of Ticket</span>
                        <span class="zone_B accent">@Model.Tickets[i].TicketCategory.TicketCategoryName</span>
                    </p>
                    <p class="sub_row">
                        <span class="zone_C">Price</span>
                        <span class="zone_B accent">$@Model.Tickets[i].Price</span>
                    </p>
                    <p class="sub_row">
                        <span class="zone_C"> Sales end on</span>
                        <span class="zone_B accent">@Model.Tickets[i].SalesEndDate.ToString("MMM dd, yyyy")</span>
                    </p>
                    <p class="sub_row">
                        <span class="zone_C"> Tickets Available</span>
                        <span class="zone_B accent">@Model.Tickets[i].Quantity</span>
                    </p>
                     <div class="form-group">
                        <label class="esh-event-label">
                            <select class="quantity_dropdown" asp-for="@Model.Tickets[i].QuantitySelected" 
                                    asp-items="@Model.Tickets[i].AvailableTicketsQuantity" id="quantitydropdown"></select>
                        </label>
                     </div>

                     <input type="hidden" asp-for="@Model.Tickets[i].TicketId" />
                     <input type="hidden" asp-for="@Model.Tickets[i].TicketCategoryId" />
                     <input type="hidden" asp-for="@Model.Tickets[i].Price" />
                     <input type="hidden" asp-for="@Model.Tickets[i].SalesStartDate" />
                     <input type="hidden" asp-for="@Model.Tickets[i].SalesEndDate" />
                     <input type="hidden" asp-for="@Model.Tickets[i].Quantity" />
                     <input type="hidden" asp-for="@Model.Tickets[i].EventId" />
                     <input type="hidden" asp-for="@Model.Tickets[i].Event.Title" />
                     <input type="hidden" asp-for="@Model.Tickets[i].Event.Address" />
                     <input type="hidden" asp-for="@Model.Tickets[i].TicketCategory.TicketCategoryName" />
                     <input type="hidden" asp-for="@Model.Tickets[i].QuantitySelected" />
                     <input type="hidden" asp-for="@Model.Tickets[i].TicketStatus" />
                     <input type="hidden" asp-for="@Model.Tickets[i].DateSelected" />
                 }
            }
             <input type="hidden" asp-for="@Model.DateSelected" name="DateSelected" />
             <input id="verifybutton" class="custom_btn ticket_btn" type="submit" value="ADD TO CART" />

        </form>
    }


