@{
    ViewData["Title"] = "Ticket details";

    @model WebMvc.ViewModels.TicketIndexViewModel

}

<div class="row banner_row">

    @if (@Model.Tickets.First().TicketId!=0)
    {
        <div class="ticket_title_box col-md-7">

            <div class="event_name">
                <span>@Model.Tickets.First().Event.Title</span>
            </div>
            <div class="zone_1">
                <div>@Model.DateSelected.DayOfWeek<br /><span class="date_num">@Model.DateSelected.ToString("MMM")</span><br /><span class="date_num">@Model.DateSelected.Day</span></div>
            </div>

        </div>

        <div class="photo_box col-md-5">
            <img class="event_big_img" src="@Model.Tickets.First().Event.EventImageUrl" />
        </div>
    }
    else
    {
        <div class="event_name">
            <span>@Model.Tickets.First().TicketStatus</span>
        </div>
    }

</div>

<div class="ticket_showcase">
    <form>
     
        @foreach (var item in Model.Tickets)
        { if (item.TicketId!=0 )
            { 

        <div class="ticket_info_row">
            <div>
                <p class="sub_row">
                    <span class="zone_C">Type of Ticket</span>
                    <span class="zone_B accent">@item.TicketCategory.TicketCategoryName</span>
                </p>
                <p class="sub_row">
                    <span class="zone_C">Price</span>
                    <span class="zone_B accent">$@item.Price</span>
                </p>
                <p class="sub_row">
                    <span class="zone_C"> Sales end on</span>
                    <span class="zone_B accent">@item.SalesEndDate.ToString("MMM dd, yyyy")</span>
                </p>
                <p class="sub_row">
                    <span class="zone_C"> Tickets Available</span>
                    <span class="zone_B accent">@item.Quantity</span>
                </p>
            </div>

            <div class="form-group">
                <label class="esh-event-label">
                    <select class="quantity_dropdown ticket_btn" asp-for="@item.QuantitySelected" asp-items="@item.AvailableTicketsQuantity" id="quantitydropdown"></select>
                </label>
            </div>
        </div>
            }
        }
    </form>
</div>
