@*<form>*@
@*<form class="img_spacer2" asp-controller="Ticket" asp-action="GetQuantity" method="post">*@
@*@foreach (var item in Model.Tickets)*@
<!--{
    <div class="ticket_info_row">
        <div>
            <p class="sub_row">
                <span class="zone_C">Type of Ticket</span>
                <span class="zone_B accent">item.TicketCategory.TicketCategoryName</span>
            </p>
            <p class="sub_row">
                <span class="zone_C">Price</span>
                <span class="zone_B accent">$item.Price</span>
            </p>
            <p class="sub_row">
                <span class="zone_C"> Sales end on</span>
                <span class="zone_B accent">item.SalesEndDate.ToString("MMM dd, yyyy")</span>
            </p>
            <p class="sub_row">
                <span class="zone_C"> Tickets Available</span>
                <span class="zone_B accent">item.Quantity</span>
            </p>
        </div>

        <div class="form-group">
            <label class="esh-event-label">
                <select class="custom_btn ticket_btn" asp-for="item.QuantitySelected" asp-items="item.AvailableTicketsQuantity" id="quantitydropdown"></select>
            </label>
        </div>-->
@*<div>
        <input type="hidden" asp-for="@item.TicketId" name="TicketId" />
        <input type="hidden" asp-for="@item.TicketCategoryId" name="TicketCategoryId" />
        <input type="hidden" asp-for="@item.TicketCategory" name="TicketCategory" />
        <input type="hidden" asp-for="@item.EventId" name="EventId" />
    </div>*@
<!--</div>
}-->
@*</form>*@

@*<form class="img_spacer2" asp-controller="Ticket" asp-action="GetQuantity" method="post">
    @for (int i = 0; i < Model.Tickets.Count(); i++)
    {
        <p class="sub_row">
            <span class="zone_C">Type of Ticket</span>
            <span class="zone_B accent">@Model.Tickets[i].TicketCategory.TicketCategoryName</span>
        </p>
        <p class="sub_row">
            <span class="zone_C">Price</span>
            <span class="zone_B accent">$@Model.Tickets[i].Price</span>
        </p>
        <p class="sub_row">
            <span class="zone_C"> Sales end on</span>
            <span class="zone_B accent">@Model.Tickets[i].SalesEndDate.ToString("MMM dd, yyyy")</span>
        </p>
        <p class="sub_row">
            <span class="zone_C"> Tickets Available</span>
            <span class="zone_B accent">@Model.Tickets[i].Quantity</span>
        </p>
        <div class="form-group">
            <label class="esh-event-label">
                <select class="custom_btn ticket_btn" asp-for="@Model.Tickets[i].QuantitySelected" asp-items="@Model.Tickets[i].AvailableTicketsQuantity" id="quantitydropdown"></select>
            </label>
        </div>

        <input type="hidden" asp-for="@Model.Tickets[i].TicketId" />*@
@*<input type="hidden" asp-for="@Model.Tickets[i].TicketCategoryId" name="@Model.Tickets[i].TicketCategoryId" />
    <input type="hidden" asp-for="@Model.Tickets[i].Price" name="@Model.Tickets[i].Price" />
    <input type="hidden" asp-for="@Model.Tickets[i].TicketCategory" name="@Model.Tickets[i].TicketCategory" />
    <input type="hidden" asp-for="@Model.Tickets[i].EventId" name="@Model.Tickets[i].EventId" />
    <input type="hidden" asp-for="@Model.Tickets[i].SalesEndDate" name="@Model.Tickets[i].SalesEndDate" />
    <input type="hidden" asp-for="@Model.Tickets[i].QuantitySelected" name="@Model.Tickets[i].QuantitySelected" />*@

    }




@*<input type="hidden" asp-for="@Model.Tickets" name="Tickets" />
    <input type="hidden" asp-for="@Model.DateSelected" name="DateSelected" />*@

@*<input id="verifybutton" class="custom_btn ticket_btn" type="submit" value="VERIFY" href="@Url.Action("GetQuantity", "Ticket")" />*@
<!--<input id="verifybutton" class="custom_btn ticket_btn" type="submit" value="VERIFY" />


<input type="hidden" asp-for="@Model.Tickets" name="Tickets" />
<input type="hidden" asp-for="@Model.DateSelected" name="DateSelected" />-->
@*<input type="hidden" asp-for="@Model.Tickets.ToArray()[0]" name="Ticket" />>*@
<!--<input type="hidden" asp-for="@Model.Tickets.ToArray()[0].Quantity" name="Quantity" />


</form>-->
</div>
