@{
    ViewData["Title"] = "Event details";

    @model WebMvc.ViewModels.EventDetail

}

<div class="row banner_row">

    <div class="photo_box col-md-7">
        <img class="event_big_img" src="@Model.EventImageUrl" />
    </div>

    <div class="title_box col-md-5">
        <div class="zone_1">
            <div>@Model.StartDate.DayOfWeek<br /><span class="date_num">@Model.StartDate.ToString("MMM")</span><br /><span class="date_num">@Model.StartDate.Day</span></div>
        </div>
        <div class="event_name">
            <span>@Model.Title</span>
        </div>

        <div class="zone_1">
            @if (@Model.MinPrice == 0)
            {
                <label>Free Event</label>
            }
            else
            {
                <div>$ @Model.MinPrice - @Model.MaxPrice</div>
            }
        </div>
    </div>
</div>


<div class="row ticket_row">
    <div class="col-md-7"></div>
    <div class="col-md-5">
        <div>
            <div>
                <a id="link" class="ticket_url">
                    @{
                        var buttontext = "TICKETS";
                        if(Model.IsOnlineEvent == true || Model.IsPaidEvent == false)
                        {
                            buttontext = "REGISTER";
                        }
                    }
                    <input id="ticketbutton" class="custom_btn ticket_btn" value='@buttontext' type="button" />
                </a>
                <input id="baseurl" type="hidden" value="@Url.Action("Index","Ticket",new {id = @Model.Id})" />
            </div>
            <div>
                <label class="esh-event-label">
                    <select class="custom_btn ticket_btn dates_btn" asp-for="@Model.DateSelected" asp-items="@Model.AvailableDates" id="datesdropdown"></select>
                </label>
            </div>

        </div>
    </div>
</div>

<div class="row">
    <div class="details_box col-md-7">
        <div></div>
        <div class="zone_A">
            <span>@Model.Title</span>
        </div>
        <div class="zone_C">About this event</div>
        <div class="zone_B accent">@Model.Description</div>
        <div class="zone_C">Event Format</div>
        <div class="zone_B accent">@Model.FormatName</div>
        <div class="zone_C">Event Category</div>
        <div class="zone_B accent">@Model.SubCategoryName</div>
        <div class="zone_C">Event capacity</div>
        <div class="zone_B accent">@Model.MaxOccupancy people</div>
    </div>

    <div class="core_box col-md-5">
        <div></div>
        <div class="zone_B">Date and time</div>
        <div class="zone_C accent">@Model.StartDate.ToString("MMM dd, yyyy") to @Model.EndDate.ToString("MMM dd, yyyy")</div>
        <div class="zone_C accent">
            @Model.StartDate.ToString("hh:mm tt") - @Model.EndDate.ToString("hh:mm tt")
        </div>
        <div></div>
        <div class="zone_B">Location</div>
        @if(@Model.IsOnlineEvent==true)
        {
            <div class="zone_C accent">
                <span>Online Event</span>
           </div>
        }
        else
        {
        <div class="zone_C accent">@Model.Address</div>
        <div class="zone_C accent">@Model.City @Model.State</div>
        }
        <div></div>
        <a href="https://google.com"
           class="custom_btn info_btn"
           type="submit"
           value="More Information">MORE INFO</a>
    </div>
</div>

@section Scripts {

<script type="text/javascript">

    function enabledisablebuttoncss(disabledBool){
        if(disabledBool == true){
            $('#ticketbutton').removeClass('ticket_btn');
            $('#ticketbutton').addClass('ticket_btn_disabled');
        }
        else{
            $('#ticketbutton').removeClass('ticket_btn_disabled');
            $('#ticketbutton').addClass('ticket_btn');
        }
    };

    $(document).ready(function () {
        var disabledBool = $('#datesdropdown').val() == 'AVAILABLE DATES';
        $('#ticketbutton').prop('disabled', disabledBool);
        enabledisablebuttoncss(disabledBool);
    });

    $('#datesdropdown').change(function() {
        var disabledBool = this.value == 'AVAILABLE DATES';
        if(disabledBool == false)
        {
            var baseUrl = $('#baseurl').val(); 
            var olddate = this.value;
            var newdate= olddate.replaceAll("/","-");
            var newhref= baseUrl+"/"+newdate;
            $('#link').attr('href', newhref);
        }
        else{
            $('#link').attr('href', '#');
        }

        $('#ticketbutton').prop('disabled', disabledBool);
        enabledisablebuttoncss(disabledBool);
    });
</script>
}

