@model WebMvc.ViewModels.PaginationInfo

<div class="esh-pager">
    <div class="container">
        <article class="esh-pager-wrapper row pager_row">
            <nav class="pager_box">
                @if (@Model.ActualPage == 0)
                {
                    <span class="esh-pager-item esh-pager-item--navigable pager_item "
                        id="Previous"
                        aria-label="Previous">
                        <span class="lighter" style="color: lightgray;">&lt; &lt; Previous Page</span>
                    </span>
                }
                else
                {
                    <a class="esh-pager-item esh-pager-item--navigable pager_item @Model.Previous"
                       id="Previous"
                       asp-controller="Event"
                       asp-action="Index"
                       asp-route-page="@(Model.ActualPage - 1)"
                       aria-label="Previous">
                        <span class="lighter">&lt; &lt; Previous Page</span>
                    </a>
                }

                <span class="esh-pager-item pager_item">
                     Showing @Model.ItemsPerPage of @Model.TotalItems Events <span class="lighter2">||</span> Page @(Model.ActualPage + 1) of @Model.TotalPages
                </span>

                <a class="esh-pager-item esh-pager-item--navigable pager_item @Model.Next"
                   id="Next"
                   asp-controller="Event"
                   asp-action="Index"
                   asp-route-page="@(Model.ActualPage + 1)"
                   aria-label="Next">
                    <span class="lighter">Next Page >></span>
                </a>
            </nav>
        </article>
    </div>
</div>