@{
    ViewData["Title"] = "Browsing Event";
   
    @model WebMvc.ViewModels.EventIndexViewModel
}



<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
       
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/festival.jpg" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Browsing Latest Events!
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner-2.png" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Exciting Events in Your Area and Online!  !
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner-3.png" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Exciting Events in Your Area and Online!  !
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<section class="esh-event-filters">
    <div class="container">
        <form asp-action="Index" asp-controller="Event" method="post">

            @*<label class="esh-Event-label" data-title="Isonline">
            <input type="checkbox"   asp-for="@Model.OnlineFilterApplied" asp-items="@Model.Online" class="esh-Event-filter" />
            </label>*@
           <label class="esh-event-label" data-title="IsPaid">
            <select asp-for="@Model.PriceFilterApplied" asp-items="@Model.Price" class="esh-event-filter"></select>
           </label>
            <label class="esh-event-label" data-title="Date">
                <select asp-for="@Model.DateFilterApplied" asp-items="@Model.Date" class="esh-event-filter"></select>
            </label>
            <label class="esh-event-label" data-title="Category">
                <select asp-for="@Model.CategoryFilterApplied" asp-items="@Model.Category" class="esh-event-filter"></select>
            </label>
            <label class="esh-catalog-label" data-title="Format">
                <select asp-for="@Model.FormatFilterApplied" asp-items="@Model.Format" class="esh-event-filter"></select>
            </label>
            <label class="esh-event-label" data-title="Location">
                <select asp-for="@Model.LocationFilterApplied" asp-items="@Model.Location" style="width:auto;" class="esh-event-filter"></select>
            </label>
           <input class="esh-event-send" type="image" src="~/images/b-arrow.png" />
        </form>
    </div>
</section>
<div class="container">
    @if (Model.Events.Count() > 0)
    {
        @Html.Partial("_pagination", Model.PaginationInfo)
        @*<partial name="_pagination" for="PaginationInfo" />*@

        <div class="esh-Event-items row">
            @foreach (var eventItem in Model.Events)
            {
            <div class="esh-Event-item col-md-4">

                @Html.Partial("_EventInfo", eventItem)
                @*<partial name="_EventInfo" model="eventItem" />*@

            </div>
            }
        </div>
        @Html.Partial("_pagination", Model.PaginationInfo)
        @*<partial name="_pagination" for="PaginationInfo" />*@
    }
    else
    {
        <div class="esh-Event-items row">
            THERE ARE NO RESULTS THAT MATCH YOUR SEARCH
        </div>
    }
</div>
