@model WebMvc.Models.OrderModels.Order


<section class="order_items">

    <article class="heading_row">
        <div></div>
        <section class="itemLeft">Order Details</section>
    </article>

    <article class="multi_row heading_font">
        <div></div>
        <section>Event / Type of Ticket</section>
        <section class="align_stuff">Price</section>
        <section>Quantity</section>
        <section>Subtotal</section>
    </article>

    @for (int i = 0; i < Model.OrderItems.Count; i++)
    {
        var item = Model.OrderItems[i];

        <article class="multi_row">
            <div></div>
            <section>
                @item.TicketCategoryName
                <input type="hidden" value="@item.TicketCategoryName" name=@("orderitems[" + i + "].ProductName") />
            </section>
            <section>
                $ @item.TicketPrice
                <input type="hidden" value="@item.TicketPrice" name=@("orderitems[" + i + "].UnitPrice") />
            </section>
            <section class="align_stuff">
                @item.TicketQuantity
                <input type="hidden" value="@item.TicketQuantity" name=@("orderitems[" + i + "].Units") />
            </section>
            <section class="">$ @Math.Round(item.TicketQuantity * item.TicketPrice, 2)</section>
        </article>

        <input type="hidden" asp-for="@Model.OrderItems[i].TicketId" />
        <input type="hidden" asp-for="@Model.OrderItems[i].TicketCategoryName" />
        <input type="hidden" asp-for="@Model.OrderItems[i].TicketQuantity" />
        <input type="hidden" asp-for="@Model.OrderItems[i].TicketPrice" />
        <input type="hidden" asp-for="@Model.OrderItems[i].Id" />
        <input type="hidden" asp-for="@Model.OrderItems[i].EventTitle" />
        <input type="hidden" asp-for="@Model.OrderItems[i].EventSelectedDate" />
    }

    <article class="rowE">
        <div></div>
        <section class="itemLeft">TOTAL</section>
        <section class="itemRight">$ @Model.OrderTotal</section>
        <div><input type="hidden" value="@Model.OrderTotal" name="Total" /></div>


    </article>
</section>
