@model WebMvc.Models.CartModels.Cart

@{
    ViewData["Title"] = "My Cart";
}

<div class="row">
    <form method="get" asp-controller="Order" asp-action="Create" onsubmit="setFormSubmitting()">
        @if (TempData.ContainsKey("BasketInoperativeMsg"))
        {
            <br />
            <div class="alert alert-warning" role="alert">
                &nbsp;@TempData["BasketInoperativeMsg"]
            </div>
        }
        else
        {
            <article>
                <br />
                @if (TempData.ContainsKey("BasketInoperativeMsg"))
                {
                    <div class="alert alert-warning" role="alert">
                        &nbsp;@TempData["BasketInoperativeMsg"]
                    </div>
                }

                <div class="row nice_row">
                    <section class="zone_C col-md-1"></section>
                    <section class="zone_C accent col-md-7">Ticket Category name</section>
                    <section class="zone_C accent col-md-4">Cost</section>
                </div>
            </article>

            @for (int i = 0; i < Model.Tickets.Count; i++)
            {
                var item = Model.Tickets[i];

                <article class="row">
                    <div>
                        <div class="row nice_row">
                            <section class="col-md-1"></section>
                            <section class="col-md-7">@item.EventTitle</section>
                        </div>

                        <div class="row nice_row">
                            <section class="col-md-1"></section>
                            <section class="col-md-7">@item.Quantity X @item.TicketCategoryName</section>
                            <section class="col-xs-2">
                                <input type="hidden" name="@("quantities[" + i +"].Key")" value="@item.CartItemId" />
                                <span name="@("quantities[" + i +"].Value")" value="@item.Quantity" />
                            </section>
                            <section class="col-md-3">$ @Math.Round(item.Quantity * item.TicketPrice, 2).ToString("N2")</section>
                        </div>

                    </div>
                </article>
            }

            <div class="row nice_row">
                <article class="row">
                    <section class="col-md-8"></section>
                    <section class="zone_C accent col-md-4">Total</section>
                </article>

                <article class="row little_bit">
                    <section class="col-md-8"></section>
                    <section class="col-md-4">$ @Model.Total()</section>
                </article>

                <article class="row">
                    <div>
                    <section class="col-md-1"></section>
                    <section class="col-md-7 checkout_box">
                        <input type="submit" class="custom_btn ticket_btn checkout_btn esh-basket-checkout" value="CHECKOUT"
                               @{ if (@Model.Tickets.Count == 0) { @: disabled="disabled"
                                @: style="background-color: #e9ecef; color: #adb5bd;"
                               } } />
                    </section>
                    </div>
                </article>
            </div>
        }
    </form>
</div>
